*{
    box-sizing: border-box;
}

/* === */
.container{
    margin-top: 50px;
}
.profesi-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    row-gap: 20px;
}

.profesi{
    display: flex;
    justify-content: center;
    background-color: none;
    /* margin: 50px; */

}
.image-profesi{
    width: 70px;
    height: 70px;
    /* border: 1px solid black; */
    border-radius: 50%;
    color: black;
}
.img-_{
    background-size: cover;
    background-repeat: none;
    border: 1px solid black;
    width: 100%;
    height: 70px;
    border-radius: 50%;
    background-position: center;
    align-items: center;
}
.title-job{
    width: 200px;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    align-items: center;
    box-shadow: 8px 8px lightblue;
    overflow: hidden;
}

.title-job a{
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 12px 0;
}

.title-job a:hover{
    color: rgb(0, 119, 255);
    text-decoration: underline;
}

.filter-button {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.button-flt {
    margin: 5px;
    padding: 10px;
}

.search-engine{
    margin: 20px;
}

.favorite-title{
    margin-top: 150px;
}

.profesi-show .scroll-to-top{
    width: 44px;
    height: 44px;
    border-radius: 45%;
    background: none;
    right: 16px;
    bottom: 24px;
}

.note-show .scroll-to-top{
    width: 44px;
    height: 44px;
    border-radius: 45%;
    background: none;
    right: 16px;
    bottom: 24px;
    font-weight: bolder;
}

.scroll-to-top svg{
    height: 44px;
    width: 44px;
    color: #F637EC;
    background-color: white;
    border-radius: 20%;
}

.fotter-container{
    margin-top: 80px;
}

.fotter-content{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    z-index: 2;
}

.copy-right {
    position: sticky;
}

.copy-right p {
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.colom-1 h6, .colom-2 h6{
    font-weight: bold;
}

.list-unstyled a{
    text-decoration: none;
    color: black;
    font-weight: 450;
}

.list-unstyled a:hover{
    text-decoration: underline;
    color: #0096FF;
}

@media (min-width: 320px) and (max-width: 727px){
    ::-webkit-scrollbar{width:2px;height:2px;}
    ::-webkit-scrollbar-button{width:2px;height:2px;}
    .profesi-list{
        grid-template-columns: repeat(1, 1fr) ;
    }
    .filter-button {
        margin-top: 150px;
        display: block;
        justify-content: center;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .fotter-content{
        display: flex;
        flex-direction: column;
        padding: 2px 6px;
    }
    .colom-1 p,h6, .colom-2 ul li{
        text-align: center;
        font-size: 12px;
    }
    .colom-1, .colom-2{
        width: 100%;
    }
    .copy-right{
        font-size: 12px;
    }
}

@media (min-width: 728px) {
    .profesi-list{
        grid-template-columns: repeat(2, 1fr) ;
    }
    .fotter-content{
        display: flex;
        flex-direction: row;
        padding: 2px 6px;
    }
    .colom-1 p,h6, .colom-2 ul li{
        text-align: justify;
        font-size: 18px;
    }
    .colom-1 {
        width: 70%;
        padding-left: 40px;
    }
    .colom-2{
        width: 30% ;
        padding-left: 40px;
    }
    .copy-right{
        font-size: 14px;
    }
}
@media (min-width: 1024px) {
    .profesi-list{
        grid-template-columns: repeat(3, 1fr) ;
    }
    .fotter-content{
        display: flex;
        flex-direction: row;
        padding: 2px 6px;
    }
    .colom-1 p,h6, .colom-2 ul li{
        text-align: justify;
        font-size: 20px;
    }
    .colom-1 {
        width: 70%;
        padding-left: 60px;
    }
    .colom-2{
        width: 30% ;
        padding-left: 60px;
    }
    .copy-right{
        font-size: 16px;
    }
}